.recipes0 {
  padding-top: 4em;
  padding-inline: 0;
  
  button {
    transition: 0.5s;
    &:active {
      transform: scale(1.2);
    }
  }
  .recipes {
    display: flex;
    .categories {
      margin-right: 1em;
      .cate-liste {
        li {
          margin-top: 1.4em;
          font-weight: bold;
          color: var(--text-light);
          list-style: none;
          &::before {
            content: "";
            display: inline-block;
            height: 3px;
            width: 3%;
            background-color: var(--primary-color);
            position: absolute;
            transform: scaleX(0);
            margin-top: 23px;
          }
          &:hover {
            &::before {
              transform: scaleX(1);
            }
          }
        }
        h3 {
          color: var(--text-color);
        }
      }
    }

    .filter {
      display: block;
      right: 110px;
      padding-left: 0.5;
      h3 {
        padding-bottom: 2em;
      }
      p {
        padding-bottom: 0.8em;
        color: var(--text-light);
        font-weight: 600;
      }
      .from-to {
        padding-bottom: 2em;
        input {
          height: 33px;
          border-radius: 25px;
        }
        .from {
          font-weight: bold;
          margin-bottom: 1.5em;
          width: 185px;
          padding-left: 5px;
        }
        .to {
          font-weight: bold;
          text-align: right;
          padding-right: 5px;
          width: 185px;
        }
      }
    }

    .sort {
      button {
        width: 185px;
        height: 33px;
        margin: 10px 0;
        border-radius: 20px;
      }
      .popu {
        background-color: var(--black);
        color: #fff;
      }
    }
    .on-off {
      margin-top: 1.5em;
      display: flex;
      span {
        color: var(--text-light);
        font-weight: 600;
        padding-left: 20px;
      }
      input {
        display: none;
      }
      .button {
        background-color: #6d6d66;
        width: 48px;
        height: 25px;
        border-radius: 30px;
        cursor: pointer;
        position: relative;
        transition: 0.5s;
        &::before {
          position: absolute;
          content: "";
          background-color: #fff;
          width: 22px;
          height: 22.5px;
          margin: 1.3px;
          border-radius: 20px;
          transition: 0.5s;
        }
      }
    }

    input:checked + .button {
      background-color: var(--text-color);
    }
    input:checked + .button::before {
      transform: translateX(22px);
    }

    .cards {
      display: flex;
      margin-top: 2em;
      flex-wrap: wrap;
      gap: 1em;
    }
  }
}
